name: Deploy AWS S3toS3 Lambda

on:
  push:
    branches: 
      - dev
    paths:
      - 'lambda/**'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        working-directory: lambda
        run: |
          pip install -r requirements.txt -t .
          zip -r ../lambda.zip .

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          aws-region: ap-south-1

      - name: Upload Lambda Package to S3
        run: aws s3 cp lambda.zip s3://s3-jyotsna/deployment/lambda/s3tos3-function/lambda.zip
      
      - name: Update Lambda Function Code
        run: aws lambda update-function-code --function-name s3tos3-function --s3-bucket s3-jyotsna --s3-key deployment/lambda/s3tos3-function/lambda.zip

      # - name: Deploy to AWS Lambda
      #   run: |
      #     aws lambda update-function-code \
      #       --function-name s3tos3-function \
      #       --zip-file fileb://lambda.zip

      - name: Cleanup
        run: rm lambda.zip
